In [1]:
import pandas as pd
import numpy as np
import time
import copy
import datetime
from sklearn import linear_model
from sklearn.cross_validation import cross_val_predict
from sklearn.naive_bayes import GaussianNB

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
course_id = 'KNU/101/2014_T2'
user_id = 50444
sm = pd.read_csv('F:\Projects\PA\Scripts\data\courseware_studentmodule.csv')

In [3]:
users = pd.read_csv('F:\Projects\PA\Scripts\data\users.csv')

In [4]:
cert = pd.read_csv('F:\Projects\PA\Scripts\data\certificates_generatedcertificate.csv')

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
sm

,id,module_type,module_id,student_id,state,grade,created,modified,max_grade,done,course_id
0,1,problem,i4x://edX/DemoX/problem/303034da25524878a2e66f...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
1,2,problem,i4x://edX/DemoX/problem/932e6f2ce8274072a355a9...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
2,3,problem,i4x://edX/DemoX/problem/9cee77a606ea4c1aa5440e...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
3,4,problem,i4x://edX/DemoX/problem/0d759dee4f9d459c895613...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
4,5,problem,i4x://edX/DemoX/problem/75f9562c77bc4858b61f90...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
5,6,problem,i4x://edX/DemoX/problem/Sample_ChemFormula_Pro...,8,"{""correct_map"": {}, ""seed"": 1, ""done"": false, ...",\b,2014-08-05 13:39:19,2014-11-16 15:24:34,\b,na,edX/DemoX/Demo_Course
6,7,problem,i4x://edX/DemoX/problem/Sample_Algebraic_Problem,8,"{""correct_map"": {""i4x-edX-DemoX-problem-Sample...",1,2014-08-05 13:39:19,2014-11-16 15:27:39,1,na,edX/DemoX/Demo_Course
7,8,problem,i4x://edX/DemoX/problem/a0effb954cca4759994f1a...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
8,9,problem,i4x://edX/DemoX/problem/d2e35c1d294b4ba0b3b104...,8,"{""correct_map"": {""i4x-edX-DemoX-problem-d2e35c...",1,2014-08-05 13:39:19,2014-09-17 10:38:28,1,na,edX/DemoX/Demo_Course
9,10,problem,i4x://edX/DemoX/problem/c554538a57664fac80783b...,8,"{""correct_map"": {""i4x-edX-DemoX-problem-c55453...",1,2014-08-05 13:39:19,2014-09-17 10:37:29,1,na,edX/DemoX/Demo_Course
10,11,problem,i4x://edX/DemoX/problem/700x_proteinmake,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
11,12,problem,i4x://edX/DemoX/problem/logic_gate_problem,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
12,13,problem,i4x://edX/DemoX/problem/free_form_simulation,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
13,14,problem,i4x://edX/DemoX/problem/python_grader,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
14,15,problem,i4x://edX/DemoX/problem/700x_editmolB,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
15,16,problem,i4x://edX/DemoX/problem/ex_practice_3,8,"{""seed"": 352, ""input_state"": {""i4x-edX-DemoX-p...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
16,17,problem,i4x://edX/DemoX/problem/d1b84dcd39b0423d9e288f...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
17,18,problem,i4x://edX/DemoX/problem/ex_practice_limited_ch...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
18,19,problem,i4x://edX/DemoX/problem/651e0945b77f42e0a4c89b...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
19,20,problem,i4x://edX/DemoX/problem/45d46192272c4f6db6b635...,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
20,21,problem,i4x://edX/DemoX/problem/ex_practice_2,8,"{""seed"": 1, ""input_state"": {""i4x-edX-DemoX-pro...",\b,2014-08-05 13:39:19,2014-08-05 13:39:19,\b,na,edX/DemoX/Demo_Course
21,22,course,i4x://edX/DemoX/course/Demo_Course,8,"{""position"": 2}",\b,2014-08-13 19:58:46,2015-01-19 13:43:03,\b,na,edX/DemoX/Demo_Course
22,23,chapter,i4x://edX/DemoX/chapter/d8a6192ade314473a78242...,8,"{""position"": 1}",\b,2014-08-13 19:58:46,2014-08-13 19:58:46,\b,na,edX/DemoX/Demo_Course
23,24,sequential,i4x://edX/DemoX/sequential/edx_introduction,8,"{""position"": 1}",\b,2014-08-13 19:58:46,2014-08-13 19:58:46,\b,na,edX/DemoX/Demo_Course
24,25,video,i4x://edX/DemoX/video/0b9e39477cf34507a7a48f74...,8,"{""saved_video_position"": ""00:00:12""}",\b,2014-08-13 19:59:08,2014-08-13 19:59:08,\b,na,edX/DemoX/Demo_Course
25,26,course,i4x://KPI/Algo101/course/2014_Fall,9,"{""position"": 1}",\b,2014-08-27 20:17:21,2015-01-10 22:57:10,\b,na,KPI/Algo101/2014_Fall
26,27,chapter,i4x://KPI/Algo101/chapter/415942cb4ea94253a2c4...,9,"{""position"": 1}",\b,2014-08-27 20:17:21,2015-01-23 20:49:52,\b,na,KPI/Algo101/2014_Fall
27,28,sequential,i4x://KPI/Algo101/sequential/85a85c80ac574e9a8...,9,"{""position"": 3}",\b,2014-08-27 20:17:22,2015-01-23 21:07:55,\b,na,KPI/Algo101/2014_Fall
28,29,video,i4x://KPI/Algo101/video/4f4eb9c3bf46433e95f1c6...,9,"{""speed"": 1.25, ""saved_video_position"": ""00:13...",\b,2014-08-27 20:17:51,2015-01-23 20:58:41,\b,na,KPI/Algo101/2014_Fall
29,30,video,i4x://KPI/Algo101/video/9b07cbaaeeba40c1ab8265...,9,"{""speed"": 2.0, ""saved_video_position"": ""00:10:...",\b,2014-08-27 20:19:51,2015-01-23 21:07:55,\b,na,KPI/Algo101/2014_Fall
...,...,...,...,...,...,...,...,...,...,...,...
3027093,3031708,problem,i4x://OsvitaOnline/Ukr101/problem/72b40fb132d8...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:47,2016-09-09 18:56:47,\b,na,OsvitaOnline/Ukr101/2015_T1
3027094,3031709,problem,i4x://OsvitaOnline/Ukr101/problem/bf5993ac01ba...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:47,2016-09-09 18:56:47,\b,na,OsvitaOnline/Ukr101/2015_T1
3027095,3031710,problem,i4x://OsvitaOnline/Ukr101/problem/354cba0432ef...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:47,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027096,3031711,problem,i4x://OsvitaOnline/Ukr101/problem/cb155309aa2c...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:48,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027097,3031712,problem,i4x://OsvitaOnline/Ukr101/problem/d5e1274b8956...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:48,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027098,3031713,problem,i4x://OsvitaOnline/Ukr101/problem/5faab79cddbb...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:48,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027099,3031714,problem,i4x://OsvitaOnline/Ukr101/problem/e423620ccac4...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:48,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027100,3031715,problem,i4x://OsvitaOnline/Ukr101/problem/f71e54d90acf...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 18:56:48,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027101,3031716,sequential,i4x://OsvitaOnline/Ukr101/sequential/6c39ea35b...,124740,"{""position"": 1}",\b,2016-09-09 18:56:48,2016-09-09 18:56:48,\b,na,OsvitaOnline/Ukr101/2015_T1
3027102,3031717,course,i4x://OsvitaOnline/Eng101/course/2015_T1,124740,"{""position"": 1}",\b,2016-09-09 19:16:00,2016-09-09 19:16:00,\b,na,OsvitaOnline/Eng101/2015_T1
3027103,3031718,chapter,i4x://OsvitaOnline/Eng101/chapter/08a1a64f0b86...,124740,"{""position"": 1}",\b,2016-09-09 19:16:00,2016-09-09 19:16:00,\b,na,OsvitaOnline/Eng101/2015_T1
3027104,3031719,problem,i4x://OsvitaOnline/Eng101/problem/23ccf0c39df9...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:00,2016-09-09 19:16:00,\b,na,OsvitaOnline/Eng101/2015_T1
3027105,3031720,problem,i4x://OsvitaOnline/Eng101/problem/ec754c988201...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:00,2016-09-09 19:16:00,\b,na,OsvitaOnline/Eng101/2015_T1
3027106,3031721,problem,i4x://OsvitaOnline/Eng101/problem/f17db5150ba5...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:00,2016-09-09 19:16:00,\b,na,OsvitaOnline/Eng101/2015_T1
3027107,3031722,problem,i4x://OsvitaOnline/Eng101/problem/6cddfdcd245d...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:00,2016-09-09 19:16:00,\b,na,OsvitaOnline/Eng101/2015_T1
3027108,3031723,problem,i4x://OsvitaOnline/Eng101/problem/8c5c97e6aa0b...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:00,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027109,3031724,problem,i4x://OsvitaOnline/Eng101/problem/d518c9c5604e...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027110,3031725,problem,i4x://OsvitaOnline/Eng101/problem/0ada587b4f50...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027111,3031726,problem,i4x://OsvitaOnline/Eng101/problem/d3e3ae31961c...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027112,3031727,problem,i4x://OsvitaOnline/Eng101/problem/2cdcdd5527b9...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027113,3031728,problem,i4x://OsvitaOnline/Eng101/problem/90d7bdbe83e1...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027114,3031729,problem,i4x://OsvitaOnline/Eng101/problem/b98206d9c92e...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027115,3031730,problem,i4x://OsvitaOnline/Eng101/problem/f14997e53d93...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027116,3031731,problem,i4x://OsvitaOnline/Eng101/problem/aee0582c6ee7...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027117,3031732,problem,i4x://OsvitaOnline/Eng101/problem/3f0f97f09f68...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027118,3031733,problem,i4x://OsvitaOnline/Eng101/problem/0ceb8fbe1264...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027119,3031734,problem,i4x://OsvitaOnline/Eng101/problem/7d7bf4022377...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027120,3031735,problem,i4x://OsvitaOnline/Eng101/problem/b351fc49f63c...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027121,3031736,problem,i4x://OsvitaOnline/Eng101/problem/7d1fbd5c0f66...,124740,"{""seed"": 1, ""input_state"": {""i4x-OsvitaOnline-...",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1
3027122,3031737,sequential,i4x://OsvitaOnline/Eng101/sequential/ec181b3d2...,124740,"{""position"": 1}",\b,2016-09-09 19:16:01,2016-09-09 19:16:01,\b,na,OsvitaOnline/Eng101/2015_T1

In [6]:
sm = sm[sm.module_type == 'problem']
sm = sm.rename(columns = {'student_id':'user_id'})
sm.grade = map(lambda x: x if x != '\\b' else 0,sm.grade.tolist())
cert = cert[cert.course_id == course_id]
registered = cert.user_id.unique()
users = users[users.id.isin(registered)]

In [7]:
#fit
##__getProblemResultFeatures
start_time = time.time()
modules = sm.module_id.unique().tolist()
result = []
for module in modules:
    first = sm[sm.module_id == module].created.min()
    result.append({'name':module,'date':first})
labels = map(lambda x: x['name'],sorted(result,key=lambda x: x['date']))
rebased = sm.pivot(index='user_id',columns='module_id',values='grade')
rebased = rebased[labels].fillna(0)
res_features =  rebased
print '__getProblemResultFeatures finished in ' + str(time.time() - start_time)
##

__getProblemResultFeatures finished in 502.836999893

In [8]:
##__getUserDataFeatures
start_time = time.time()
u = pd.DataFrame(users[['gender','year_of_birth','level_of_education']],index=users.user_id)
c = cert.set_index(cert.user_id)[['grade','status']]
c['status'] = c.apply(lambda x: 1 if x.status == 'downloadable' else 0,1)
u_features = c.join(u)
print '__getUserDataFeatures finished in ' + str(time.time() - start_time)
##

__getUserDataFeatures finished in 1.80500006676

In [9]:
map(lambda x: x if x != '\\b' else 0,sm.grade.tolist())
#sm.grade.unique()

[0,
 0,
 0,
 0,
 0,
 0,
 '1',
 0,
 '1',
 '1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0',
 '6',
 '2',
 0,
 '6',
 '3',
 '3',
 '6',
 '3',
 '6',
 0,
 0,
 '1',
 0,
 '3',
 '6',
 '3',
 0,
 '2',
 '6',
 '6',
 '3',
 0,
 0,
 0,
 0,
 0,
 0,
 '6',
 '3',
 '3',
 '6',
 '3',
 '6',
 0,
 0,
 '6',
 '3',
 '3',
 '6',
 '0',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '3',
 '6',
 '3',
 '6',
 '3',
 '6',
 '6',
 '3',
 '3',
 '6',
 0,
 0,
 '2',
 0,
 '2',
 '6',
 '2',
 '6',
 '3',
 '6',
 '6',
 '3',
 0,
 0,
 0,
 0,
 '3',
 '6',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '6',
 '3',
 0,
 0,
 '2',
 0,
 '3',
 '4',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '6',
 '2',
 '2',
 '6',
 '0',
 0,
 0,
 '3',
 0,
 0,
 '2',
 '1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '6',
 '3',
 '0',
 '6',
 '3',
 '6',
 '3',
 '6',
 0,
 '0',
 0,
 0,
 '1',
 0,
 '2',
 0,
 '2',
 '1',
 0,
 0,
 0,
 0,
 '4',
 '3',
 '4',
 '3',
 '4',
 0,
 '3',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '3',
 '4',
 0,
 '4',
 '3',
 '1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '4',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '1',
 '6',
 '3',
 '4',
 0,
 0,
 '3',
 '4',
 '3',
 '4',
 0,
 0,
 '1',
 0,
 '4',
 0,
 '4',
 0,
 '4',
 '3',
 0,
 0,
 0,
 0,
 '4',
 0,
 0,
 0,
 '4',
 0,
 0,
 0,
 '3',
 '4',
 0,
 0,
 0,
 0,
 0,
 0,
 '4',
 '0',
 0,
 0,
 0,
 0,
 0,
 0,
 '4',
 0,
 0,
 0,
 '4',
 0,
 0,
 0,
 '4',
 '3',
 0,
 0,
 '4',
 0,
 '0',
 '6',
 '4',
 0,
 0,
 0,
 '3',
 0,
 '4',
 '3',
 0,
 '3',
 0,
 '4',
 '4',
 0,
 '4',
 '3',
 0,
 0,
 0,
 0,
 '4',
 0,
 '6',
 '3',
 0,
 0,
 '6',
 '3',
 '3',
 '4',
 0,
 0,
 0,
 '4',
 0,
 0,
 '4',
 0,
 '4',
 0,
 '4',
 '3',
 '6',
 '3',
 '3',
 '4',
 0,
 0,
 0,
 0,
 0,
 0,
 '4',
 '3',
 0,
 0,
 0,
 '2',
 0,
 0,
 0,
 0,
 '0',
 '1',
 '1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '3',
 0,
 0,
 '3',
 0,
 0,
 0,
 0,
 0,
 '3',
 '4',
 0,
 0,
 0,
 0,
 '1',
 '1',
 '0',
 '1',
 0,
 '1',
 '1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '2',
 '3',
 '3',
 '6',
 '7',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '4',
 0,
 '2',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '4',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '10',
 0,
 '10',
 0,
 '10',
 '10',
 '10',
 0,
 '10',
 '8',
 '10',
 0,
 0,
 '10',
 '9',
 '10',
 0,
 '8',
 '10',
 '10',
 '10',
 '10',
 '10',
 '9',
 0,
 '10',
 '10',
 0,
 0,
 '8',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '8',
 '10',
 '10',
 '10',
 '9',
 0,
 0,
 '10',
 0,
 0,
 0,
 '9',
 0,
 0,
 0,
 '10',
 '10',
 '10',
 '10',
 '8',
 '8',
 '10',
 0,
 '9',
 '10',
 '9',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 0,
 '9',
 0,
 '10',
 0,
 '10',
 0,
 '9',
 0,
 0,
 '10',
 '9',
 0,
 '9',
 '10',
 '9',
 '10',
 0,
 0,
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '9',
 0,
 0,
 '10',
 0,
 0,
 0,
 '10',
 '10',
 0,
 '5',
 '10',
 '6',
 0,
 '10',
 0,
 '9',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 0,
 '6',
 '10',
 0,
 '10',
 '10',
 '6',
 0,
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 0,
 '8',
 '10',
 '10',
 0,
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 0,
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 0,
 0,
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '9',
 0,
 '9',
 '10',
 '10',
 '10',
 '9',
 0,
 '6',
 '10',
 0,
 '10',
 '10',
 '10',
 '9',
 '8',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '9',
 0,
 '10',
 0,
 '10',
 '9',
 '10',
 '10',
 '10',
 0,
 '9',
 '10',
 0,
 '8',
 0,
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 '10',
 0,
 0,
 0,
 '10',
 '8',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 0,
 0,
 0,
 '9',
 0,
 '10',
 '8',
 0,
 0,
 0,
 '10',
 '10',
 '9',
 0,
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 0,
 '10',
 '9',
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 0,
 '10',
 '9',
 '10',
 0,
 '10',
 0,
 '10',
 '9',
 '7',
 '9',
 '9',
 '9',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '9',
 '10',
 '9',
 '10',
 '10',
 '10',
 '9',
 0,
 0,
 0,
 '10',
 '10',
 '9',
 0,
 0,
 '10',
 '10',
 '10',
 0,
 0,
 '10',
 0,
 '10',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 0,
 '9',
 0,
 '10',
 '10',
 0,
 '10',
 '7',
 '10',
 '8',
 '10',
 0,
 '10',
 '10',
 '9',
 '10',
 0,
 '10',
 '9',
 '10',
 '10',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 '10',
 0,
 0,
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 0,
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '9',
 0,
 '10',
 '10',
 '9',
 '10',
 '9',
 '10',
 '10',
 0,
 '10',
 '10',
 '7',
 '10',
 '10',
 '9',
 '10',
 0,
 0,
 '10',
 0,
 '10',
 '10',
 0,
 0,
 '7',
 0,
 0,
 '10',
 0,
 '10',
 '7',
 '10',
 '10',
 0,
 '9',
 '10',
 0,
 '8',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 0,
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '9',
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '9',
 0,
 '9',
 0,
 0,
 '10',
 '10',
 '9',
 0,
 0,
 '8',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 0,
 '10',
 '9',
 0,
 '10',
 '10',
 '10',
 '6',
 '10',
 '10',
 '6',
 '10',
 0,
 '10',
 ...]

In [10]:
##__lastPassedTest
start_time = time.time()
features = res_features.ix[user_id].tolist()
index = len(features)
for i in reversed(features):
    if i != 0:
        break
    index -= 1
if index == 0:
    index = len(res_features.columns)
last = index
print '__lastPassedTest finished in ' + str(time.time() - start_time)
##

__lastPassedTest finished in 0.0119998455048

In [65]:
start_time = time.time()
cols = res_features.columns[:last].tolist()
dataset = u_features.join(res_features)
data = dataset[cols].fillna(0)
Y = dataset.status
print '_final preparations finished in ' + str(time.time() - start_time)

_final preparations finished in 10.8890001774

In [12]:
model = GaussianNB()
start_time = time.time()
predicted = cross_val_predict(model, data, Y)
print 'cross_val_predict finished in ' + str(time.time() - start_time)

score = float(np.sum(predicted == Y))/len(data)
start_time = time.time()
model.fit(data,Y)
print 'fit finished in ' + str(time.time() - start_time)

cross_val_predict finished in 9.54699993134
fit finished in 2.90700006485

In [13]:
#predict

cols = res_features.columns.tolist()[:last]
start_time = time.time()
answer = model.predict(res_features[cols].ix[user_id].tolist())
print 'predict finished in ' + str(time.time() - start_time)
print score

predict finished in 1.42000007629
0.607830299856

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [14]:
dataset

,grade,status,gender,year_of_birth,level_of_education,i4x://edX/DemoX/problem/303034da25524878a2e66fb57c91cf85,i4x://edX/DemoX/problem/932e6f2ce8274072a355a94560216d1a,i4x://edX/DemoX/problem/9cee77a606ea4c1aa5440e0ea5d0f618,i4x://edX/DemoX/problem/0d759dee4f9d459c8956136dbde55f02,i4x://edX/DemoX/problem/75f9562c77bc4858b61f907bb810d974,...,i4x://OsvitaOnline/Eng101/problem/0fc00d2172c347e683369a3813f31ec1,i4x://OsvitaOnline/Eng101/problem/4ce46b5c9da048f2aba3b8336b58b5f7,i4x://Prometheus/103/problem/c79fcbbfb444436986dbc8f37d995180,i4x://Prometheus/103/problem/32c557b08d2b44a0a6b53b553eff48c4,i4x://Prometheus/103/problem/aa9afa9d37f84bd182353ef0c1282bae,i4x://Prometheus/103/problem/5dcde511f59d44c5a5e9447318640b58,i4x://Prometheus/103/problem/471d220653a24bde946cb07125652ac1,i4x://Prometheus/103/problem/fa539c440de3459c8ad4f39910ae54bf,i4x://Prometheus/103/problem/5b5860bcfa3b4f7dad8a7a59f2d0987e,i4x://Prometheus/103/problem/e09fe3fb88334075b272a202f08694f8
user_id,,,,,,,,,,,,,,,,,,,,,
47030,0.92,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0.89,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,0.15,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,0.18,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161,0.98,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,0.00,0,f,1996,hs,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,0.76,1,NaN,\b,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,0.92,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0.20,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
195,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,0.75,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
208,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,0.10,0,f,1977,p,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
217,0.53,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218,0.05,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220,0.00,0,m,1994,a,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
222,0.00,0,m,1995,hs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,0.97,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119210,0.58,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119215,0.04,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79961,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,1,9,0,0,0,0,0,0,0,0
119158,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119282,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37921,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119299,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119298,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
111752,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119315,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119335,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119366,0.70,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10197,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119407,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106095,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119433,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119450,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119456,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119473,0.74,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119477,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119488,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119275,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97874,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92589,0.00,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119528,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119532,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119556,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119841,0.99,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15805,0.63,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89254,0.84,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
input = dataset.fillna(0)
output = dataset.status

#prediction test
model = GaussianNB()
start_time = time.time()
predicted = cross_val_predict(model, data, Y)
print 'cross_val_predict finished in ' + str(time.time() - start_time)

score = float(np.sum(predicted == Y))/len(data)
start_time = time.time()
model.fit(data,Y)
print 'fit finished in ' + str(time.time() - start_time)

cols = res_features.columns.tolist()[:last]
start_time = time.time()
answer = model.predict(res_features[cols].ix[user_id].tolist())
print 'predict finished in ' + str(time.time() - start_time)

cross_val_predict finished in 10.5170001984
fit finished in 2.59200000763
predict finished in 2.75499987602

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [69]:
ex_cols = list(cols)
ex_cols.append('status')
print ex_cols[-1]
print ex_cols[-2]

status
i4x://Prometheus/103/problem/e09fe3fb88334075b272a202f08694f8

In [70]:
dataset_x = dataset.fillna(0)[ex_cols]

baseFrame = pd.DataFrame(dataset_x.values.astype(float), columns=dataset_x.columns, index=map(lambda x: str(x) + '_x0' ,dataset_x.index.tolist()))
for i in range(1,5):
    currentFrame = pd.DataFrame(dataset_x.values.astype(float), columns=dataset_x.columns, index=map(lambda x: str(x) + '_x' + str(i) ,dataset_x.index.tolist()))
    baseFrame = pd.concat([baseFrame, currentFrame])

In [74]:
print len(cols)
print len(baseFrame.columns)
print len(baseFrame)

1076
1077
76370

In [75]:
input = baseFrame[cols]
output = baseFrame.status

#prediction test
model = GaussianNB()
start_time = time.time()
predicted = cross_val_predict(model, input, output)
print 'cross_val_predict finished in ' + str(time.time() - start_time)

score = float(np.sum(predicted == output))/len(input)
start_time = time.time()
model.fit(input,output)
print 'fit finished in ' + str(time.time() - start_time)

cols = res_features.columns.tolist()[:last]
start_time = time.time()
answer = model.predict(res_features[cols].ix[user_id].tolist())
print 'predict finished in ' + str(time.time() - start_time)

MemoryError:

In [41]:
a = pd.DataFrame(dataset.values, columns=dataset.columns, index=map(lambda x: str(x) + '_x0' ,dataset.index.tolist())).fillna(0)[cols].values

In [43]:
uo = np.unique(a.ravel())
uo

array([0L, '0', '0.1', '0.103448275862069', '0.2', '0.3',
       '0.310344827586207', '0.4', '0.448275862068966', '0.5', '0.55',
       '0.6', '0.620689655172414', '0.655172413793103',
       '0.666666666666667', '0.724137931034483', '0.733333333333333',
       '0.75', '0.76', '0.793103448275862', '0.8', '0.827586206896552',
       '0.85', '0.862068965517241', '0.888888888888889', '0.9', '0.92',
       '0.925925925925926', '0.931034482758621', '0.933333333333333',
       '0.95', '0.96551724137931', '0.966666666666667', '1', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '4', '5',
       '6', '7', '8', '9'], dtype=object)

In [46]:
a.astype(float)

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [ ]:
cross_validation_timing = []
fit_timing = []
predict_timing = []

start_time = time.time()
for i in range(0,100):
    baseFrame = pd.DataFrame(dataset.values, columns=dataset.columns, index=map(lambda x: str(x) + '_x' ,dataset.index.tolist()))
    for i in range(0,i):
        currentFrame = pd.DataFrame(dataset.values, columns=dataset.columns, index=map(lambda x: str(x) + '_x' + str(i) ,dataset.index.tolist()))
        baseFrame = pd.concat([baseFrame, currentFrame])
        
    input = baseFrame.fillna(0)
    output = baseFrame.status

    #prediction test
    model = GaussianNB()
    start_time = time.time()
    predicted = cross_val_predict(model, data, Y)
    print 'cross_val_predict finished in ' + str(time.time() - start_time)

    score = float(np.sum(predicted == Y))/len(data)
    start_time = time.time()
    model.fit(data,Y)
    print 'fit finished in ' + str(time.time() - start_time)

    cols = res_features.columns.tolist()[:last]
    start_time = time.time()
    answer = model.predict(res_features[cols].ix[user_id].tolist())
    print 'predict finished in ' + str(time.time() - start_time)
    
    print str(i) + 'is done after ' + str(time.time() - start_time) + ' seconds after start'

In [66]:
for i in range(1,2):
    print 'hello'

hello